:root {
    --ax-white: #fff;
    --ax-black: #000;
    --ax-gray-1: #f4f7f9;
    --ax-gray-1-plus: #eeeeee;
    --ax-gray-2: #ccc;
    --ax-gray-3: #333;
    --ax-smokey-blue: #2c3e50;
    --ax-smokey-blue-2: #34495e;
    --ax-blue-primary: #3498db;
    --ax-green-primary: #23cb71;
    --ax-purple-primary: #7f52f6;
    --ax-red-primary: #eb4b42;
    --ax-orange-primary: #ee7a48;
}
